---
- name: Déploiement VM RHEL 9.6 sur Proxmox
  hosts: localhost
  gather_facts: no
  
  vars:
    proxmox_host: "{{ proxmox_api_host }}"
    proxmox_user: "{{ proxmox_api_user }}"
    proxmox_password: "{{ proxmox_api_password }}"
    proxmox_node: "{{ proxmox_node_name }}"
    vm_name: "{{ vm_hostname | default('rhel96-vm') }}"
    vm_id: "{{ vmid | default(omit) }}"
    vm_cores: "{{ cpu_cores | default(2) }}"
    vm_memory: "{{ memory_mb | default(4096) }}"
    vm_disk_size: "{{ disk_size_gb | default(50) }}"
    vm_storage: "{{ storage_name | default('local-lvm') }}"
    vm_network_bridge: "{{ network_bridge | default('vmbr0') }}"
    iso_storage: "{{ iso_storage_location | default('local') }}"
    iso_file: "{{ iso_filename | default('rhel-9.6-x86_64-dvd.iso') }}"

  tasks:
    - name: Vérifier les variables requises
      assert:
        that:
          - proxmox_host is defined
          - proxmox_user is defined
          - proxmox_password is defined
          - proxmox_node is defined
        fail_msg: "Les variables Proxmox sont requises"

    - name: Créer la VM RHEL 9.6
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_host }}"
        api_user: "{{ proxmox_user }}"
        api_password: "{{ proxmox_password }}"
        node: "{{ proxmox_node }}"
        name: "{{ vm_name }}"
        vmid: "{{ vm_id }}"
        cores: "{{ vm_cores }}"
        memory: "{{ vm_memory }}"
        balloon: 0
        vga: std
        ostype: l26
        scsihw: virtio-scsi-pci
        bootdisk: scsi0
        boot: cdn
        ide:
          ide2: "{{ iso_storage }}:iso/{{ iso_file }},media=cdrom"
        scsi:
          scsi0: "{{ vm_storage }}:{{ vm_disk_size }},format=raw"
        net:
          net0: "virtio,bridge={{ vm_network_bridge }}"
        cpu: host
        agent: yes
        onboot: yes
        state: present
        validate_certs: no
      register: vm_result

    - name: Afficher les informations de la VM
      debug:
        msg: 
          - "VM créée avec succès"
          - "Nom: {{ vm_name }}"
          - "VMID: {{ vm_result.vmid | default('N/A') }}"
          - "Noeud: {{ proxmox_node }}"
          - "ISO: {{ iso_storage }}:iso/{{ iso_file }}"

    - name: Démarrer la VM (optionnel)
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_host }}"
        api_user: "{{ proxmox_user }}"
        api_password: "{{ proxmox_password }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ vm_result.vmid }}"
        state: started
        validate_certs: no
      when: auto_start | default(false) | bool
      register: vm_start

    - name: Message final
      debug:
        msg: "{{ 'VM démarrée automatiquement' if (auto_start | default(false) | bool) else 'VM créée mais non démarrée' }}"
